{{ master_ip_address }}	{{ master_hostname }}	{{ master_hostname }}
{{ slave_ip_address }}	{{ slave_hostname }}	{{ slave_hostname }}
127.0.0.1	{{ barman_hostname }}	{{ barman_hostname }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
